body {
  background: gray;
  font-family: sans-serif;
}

.title {
  font-size: 20px;
}

.card {
  width: 400px;
  background: white;
  margin: 16px auto;
  padding: 10px;
}

.title,
.content,
.button-container {
  background: dodgerblue;
  margin: 10px;
  padding: 10px;
}

.button-container {
  text-align: center;
  padding: 8px 20px;
}

button {
  display: block;
  background: white;
  margin: 0 auto;
}
